.modal-dialog{
    max-width: 70%;
}

.tbody-container{
    min-height: 10px;
    max-height: 500px;
    overflow-y: scroll;  
}
.circle{
    border-radius: 2em;
}
.edit-btn{
    background-color: #0069d9;
}
.edit-btn:hover{
    background-color: #007bff;
}
.delete-btn{
    background-color: #dc354552;
}
.delete-btn:hover{
    background-color: #dc3545;
}

.btn-primary{
    border-radius: 100px;
}

.search-bar{
    border-color: transparent;
    border-radius: 20px;
}